<!doctype html>
<html>
<head>
    <title>Crawler Report - $pageTitle</title>
    <script src="scripts/jquery-1.8.2.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/galleria/galleria-1.2.8.min.js"></script>
    <script src="scripts/jit.js"></script>
    <script src="scripts/graph.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/crawler.css" rel="stylesheet">
    <!--<link href="css/graph.css" rel="stylesheet">-->
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="logo">
                <a href="report.html"/>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li class="nav-header">General Information</li>
                    <li id="home"><a href="report.html">Home</a></li>
                    <!--<li id="graph"><a href="graph.html">Sitemap</a></li>-->
                    <li id="alllinks"><a href="alllinks.html">Visited URLs ($totalPages)</a></li>
                    <li id="skippedlinks"><a href="skippedlinks.html">Skipped URLs ($totalSkippedPages)</a></li>
                    <li class="nav-header">Pages that require attention</li>
                    <li id="404pages"><a href="404pages.html">Not Found Pages ($total404Pages)</a></li>
                    <!--<li id="insecurepages"><a href="insecurepages.html">Vulnerable Pages ($totalInsecurePages)</a></li>-->
                    <li id="brokenimagepages"><a href="brokenimagepages.html">Pages with Broken Images ($totalBrokenImagePages)</a></li>
                </ul>
            </div>
            <div style="margin-top:20px;">
                <span class="label label-success">Took $totalTimeInMinutes minutes to crawl</span>
            </div>
        </div>
        <div class="span8">
            <!-- Content goes here. -->
