#galleria {
    width: 1024px;
    height: 768px;
    background: #000;
    margin-bottom: 50px;
}

.container-fluid .row-fluid .span8 img {
    border:1px solid #CCC;
    margin-top: 10px;
}

table {
    font-size: 11px;
}

td {
    color: #666;
}

th, th a {
    color: #333;
}

table img {
    margin-left: auto;
    margin-right: auto;
}

#screenshots img {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    margin-bottom: 20px;
}

.logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    height: 100px;
    width: 400px;
}
